.home {

  .intro {
    padding: 90px 0 10px;
    border-bottom: 2px dashed @navigation-border;

    img {
      max-width: 100%;
      height: auto;
    }

    h2 {
      margin-top: 20px;
    }
  }

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;



    .text-content {
      width: 48%;
      padding-right: 1%;

      @media @mobile {
        width: 100%;
        padding: 0;
      }
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      @media @mobile {
        width: 100%;
        padding: 0;
      }

      img {
        border-radius: 10px;

        @media @mobile {
          width: 100%;
        }
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;

      @media @mobile {
        order: 1;
      }
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;

      @media @mobile {
        order: 2;
      }
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    @media @mobile {
      width: 100%;
    }

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    @media @mobile {
      flex-wrap: wrap;
    }

    .destination {
      width: 30%;
      margin-bottom: 30px;

      @media @mobile {
        width: 80%;
        margin: 0 auto 30px;
      }

      .btn {
        .button-creator(200px, 45px, @button-bg, @white, 1.8rem);
      }
    }
  }


  @import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

  @pink: #ff5983;
  @green: #59ffd5;
  @light-pink: #ffd9e2;
  @black: #2f2f2f;

  body {
    font-family: Roboto, sans-serif;
    margin: 0;
    height: 100vh;
    color: @black;
    display: flex;
    justify-content: center;
    align-items: center;
    background: @light-pink;
  }

  .card {
    background: #fff;
    border: 3px solid gold;
    border-radius: 4px;
    box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    height: 50%;
    margin: 2rem;
  }

  .card h2 {
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid gold;
    background: purple;
    color: gold;
  }

  .card .title {
    padding: 0.25rem 1rem;
  }

  .card .desc {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid @light-pink;
    border-top: 1px solid @light-pink;
    order: 99;
  }

  .card .actions {
    order: 100;
    padding: 0.5rem 1rem;
    margin: 0 auto;

    button {
      background: @green;
      margin: 0.5rem;
      border: none;
      padding: 5px 15px;
      color: @black;
      font-weight: bold;
      text-transform: uppercase;
      transition: all 0.2s ease-in;

      &:hover {
        background: @pink;
        color: white;
        transform: translatey(-1px);
      }
    }
  }

  .card svg {
    width: 150px;
    height: 1%;
    margin: 0 auto;
    background: white;

  }

  .item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    transition: all 0.3s;
  }

  .collapse {
    flex-grow: 0.001;
  }

  form {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
  }

  form input {
    margin: 10px 0;
  }

  form textarea {
    margin: 10px 0;
  }

  form input[type=text] {
    padding: 10px;
    border: 1px solid @pink;
  }

  .form-submit {
    background: purple;
    margin: 0.5rem;
    border: none;
    padding: 5px 15px;
    color: gold;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.2s ease-in;

    &:hover {
      background: green;
      color: purple;
      transform: translatey(-1px);
    }
  }

}

// home